<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd  
                        http://www.springframework.org/schema/context  
                        http://www.springframework.org/schema/context/spring-context-4.2.xsd  
                        http://www.springframework.org/schema/mvc  
                        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">
	
	<!-- 注意：不能使用  base-package="com.ecej.*" 这样的-->
	<context:component-scan base-package="com.gl.dao.*" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
 	</context:component-scan>
 	

	<context:component-scan base-package="com.gl.controller.*" />
	<context:component-scan base-package="com.gl.service.*" />
	
	<mvc:annotation-driven />
	<mvc:default-servlet-handler/>
	<mvc:resources location="/WEB-INF/assets/" mapping="/assets/**"></mvc:resources>
	<mvc:view-resolvers>
	    <mvc:content-negotiation>
		    <mvc:default-views>
			    <bean class="org.springframework.web.servlet.view.json.MappingJackson2JsonView" />
		    </mvc:default-views>
	    </mvc:content-negotiation>
	    <mvc:jsp prefix="/WEB-INF/pages/" suffix=".jsp" cache-views="false" />
    </mvc:view-resolvers>
    
    <!-- 解析器注册 -->  
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">  
        <property name="messageConverters">  
            <list>  
                <ref bean="stringHttpMessageConverter"/>  
            </list>  
        </property>  
    </bean>  
    <!-- String类型解析器，允许直接返回String类型的消息 -->  
    <bean id="stringHttpMessageConverter" class="org.springframework.http.converter.StringHttpMessageConverter"/>  
    
    
    <!-- 支持上传文件 --> 
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding"> 
			<value>UTF-8</value>
		</property>
		<property name="maxUploadSize">
			<value>10485760</value><!-- 上传文件大小限制为10M，10*1024*1024*** -->
		</property>
		<property name="maxInMemorySize">
			<value>40960</value>
		</property>
	</bean>	
	<bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="java.sql.SQLException">error/outException</prop>
				<prop key="java.io.IOException">error/outException</prop>
			</props>
		</property>
	</bean>
	
	<!-- 线程池，异步发送微信模板消息-->
	<bean id ="taskExecutor"  class ="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor" > 
	    <property name ="corePoolSize" value ="10" /> 
	    <property name ="keepAliveSeconds" value ="300" /> 
	    <property name ="maxPoolSize" value ="200" /> 
	    <property name ="queueCapacity" value ="500" /> 
  	</bean>
	
</beans>